.menu__link {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    margin-right: 1.25rem;
    text-decoration: none;
    color: #222222;
}

.menu__link:hover {
    color: #333333;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
}
