.beneficios {
    display: inline-block;
    text-align: left;
    padding-left: 3rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.75rem;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
    width: 100%;
    list-style-type: circle;
}